:root {
    --bg: darkslategray;
    --board-bg: #94a3b8;
    --fg: #1e293baa;

    --skyBlue: #38bdf8;
    --indigo: #050507aa;
    --accent: #0E7490;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    background-color: var(--bg);
    color: var(--fg);
    font-family: helvetica, sans-serif;
    font-size: 18px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* ============================ Buttons ============================ */
/* ================================================================= */
#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    background-color: var(--accent);
    color: lightgray;
    font-weight: bold;
    padding: 4px 12px;
}
button:hover {filter: brightness(1.1);}
button:not(.active) {
    filter: opacity(.5);
}
/* ======================== Board Container ======================== */
/* ================================================================= */
#boards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.board-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: repeat(2, min-content);
    grid-template-areas:
        ".   col   ."
        "row board ships";
    justify-items: center;
    align-items: center;
}
.row-labels {
    grid-area: row;
}
.col-labels {
    grid-area: col;
    width: 40vw;
    border: 1px dotted yellow;
    color: lightgray;
    font-weight: bold;

    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: space-around;
}
.ships {
    grid-area: ships;
}
/* ============================= Board ============================= */
/* ================================================================= */
.board {
    grid-area: board;
    border-radius: 4px;
    background-color: var(--board-bg);
    width: 40vw;
    height: 40vw;

    padding: 0px;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 2px;
}
.board>* {
    justify-content: center;
    align-items: center;
    display: flex;
}
.square {
    background-color: var(--accent);
}
.square.ship {
    background-color: var(--indigo);
}
.hidden>.ship {
    background-color: var(--accent);
    border: 3px dotted var(--indigo);
}
.square.hit {
    color: red;
}
[data-active="true"] {
    border: 2px solid goldenrod;
}