:root {
    --bg: darkslategray;
    --board-bg: #94a3b8;
    --fg: #1e293baa;

    --skyBlue: #38bdf8;
    --indigo: #050507aa;
    --accent: #0E7490;
    --darkAmber: #451a03;
    --darkViolet: #2e1065;
    --darkRed: #450a0a;
}
body {
    height: 100vh;
    width: 100vw;
    margin: 0;

    background-color: var(--bg);
    color: var(--fg);
    font-family: helvetica, sans-serif;
    font-size: 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
/* ============================ Buttons ============================ */
/* ================================================================= */
#buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
button {
    background-color: var(--accent);
    color: lightgray;
    font-weight: bold;
    padding: 4px 12px;
}
button:hover {filter: brightness(1.1);}
button:not(.active) {
    filter: opacity(.5);
}
/* ======================== Board Container ======================== */
/* ================================================================= */
#boards {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.board-container {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
}
.ship-container {
    height: 35vw;
    padding: 5px;
    background-color: var(--board-bg);
    border: 1px dotted #fff6;
    border-radius: 4px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.ship-label {
    border-radius: 5px;
    padding: 15px;

    display: flex;
    justify-content: center;
}
.ship-label:hover {background-color: #fff6;}
.ship-label:active {backdrop-filter: brightness(1.1)}
/* ============================= Board ============================= */
/* ================================================================= */
.board {
    border-radius: 4px;
    background-color: var(--board-bg);
    width: 35vw;
    height: 35vw;

    padding: 5px;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}
.board>* {
    justify-content: center;
    align-items: center;
    display: flex;
}
.square {
    background-color: var(--accent);
    border: 1px solid var(--board-bg);
}
.ship,
.square.ship.hit {
    background-color: var(--indigo);
}
.hidden>.ship {
    background-color: #0E749099;
}
.square.hit {
    color: red;
}
.square.ship.hit.sunk {
    border: none;
}
[data-active="true"] {
    border: 2px solid goldenrod;
}
/* ============================== Logs ============================= */
/* ================================================================= */
#logs {
    background-color: var(--board-bg);
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 32px;
    font-weight: bold;
}